.blog-sec{
    min-height: 830px;
    background: url(../img/blog_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 110px;
    .blog-sec_title{
        padding-top: 110px;
    }
    .blog-sec_blog_items{
        margin-top: 55px;
        .blog-content{
            a{
                top: -1rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}