.find-hotel{
    min-height: 332px;
    background-image: url(../img/findHotelBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 77px;
    padding-bottom: 80px;
    .find-hotel_form{
        margin-top: 50px;
        padding-top: 5px;
    }
}